include layout
include userNavbar
link(rel='stylesheet', type='text/css', href='/public/stylesheets/style.css')

.row.clearfix
    .col-md-6.column.col-md-offset-3
        h3
            strong Votes
        ul.list-unstyled.list-group
            each v in votes
                    li.list-group-item.vote-list.scaled(data-name='#{v[0]}') #{v[0]}
                        span.pull-right #{v[1]}
        button.btn.btn-primary.pull-right Submit

include footer