#accordion
    h3 Get Date; Get Restaurant; $ Get $amount
        div
            ul
                li Get userName; Get menuItem; $ Get itemPrice
                li Get userName; Get menuItem; $ Get itemPrice
                li Get userName; Get menuItem; $ Get itemPrice