include layout
include userNavbar
table.table.table-striped
    caption Current Votes
    thead
        tr
            th Restaurant
            th Votes
            th Selection
    tbody

        tr.click
            td In-n-Out
            td 8
            td
                button.selection Select
        tr.click
            td Daily Bagel Cafe
            td 2
            td
                button.selection Select
        tr.click
            td Teo Chow Noodles
            td 0
            td
               button.selection Select
        tr.click
            td Togo's
            td 0
            td
               button.selection Select
        tr.click
            td UnaMas!
            td 8
            td
               button.selection Select


include footer