include layout
include userNavbar

table.table.table-striped
    caption Current Votes
    thead
        tr
            th Restaurant
            th Votes
            th Selection
    tbody
        tr
            td In-n-Out
            td 8
            td
                button Select
        tr
            td Togo's
            td 2
            td
                button Select
        tr
            td UnaMas!
            td 2
            td
                button Select
        tr
            td Daily Bagel Cafe
            td 0
            td
                button Select
        tr
            td Aniki's Sushi
            td 0
            td
                button Select
        tr
            td Five Guys
            td 0
            td
                button Select

include footer