include layout
include userNavbar
table.table.table-striped
    caption Current Votes
    thead
        tr
            th Restaurant
            th Votes
            th Selection
    tbody

        tr
            td.click In-n-Out
            td 8
            td
                button.selection Select
        tr
            td.click Daily Bagel Cafe
            td 2
            td
                button.selection Select
        tr
            td.click Teo Chow Noodles
            td 0
            td
               button.selection Select
        tr
            td.click Togo's
            td 0
            td
               button.selection Select
        tr
            td.click UnaMas!
            td 8
            td
               button.selection Select


include footer