#footer
    .container
        .row
            h3.footertext Foody - because what you eat matters
            br
            .col-md-4
                img.img-circle(src='http://oi60.tinypic.com/w8lycl.jpg', alt='...')
                br
                h4.footertext Feel good food
                p.footertext
                    | Improve your gut feeling
                    br
            .col-md-4
                img.img-circle(src='http://oi60.tinypic.com/2z7enpc.jpg', alt='...')
                br
                h4.footertext Eating well
                p.footertext
                    | Stay healthy by eating with a conscious
                    br
            .col-md-4
                img.img-circle(src='http://oi61.tinypic.com/307n6ux.jpg', alt='...')
                br
                h4.footertext Alla tua salute
                p.footertext
                    | To good health
                    br
