include layout
include userNavbar

.row.clearfix
    .col-md-5.column.col-md-offset-1
        h3
            strong Orders
        ul.list-unstyled.list-group
            //each loop to iterate through orders
            each d in data
                li #{UserName} #{menuItem} #{price} #{extras}  
include footer