//Begin Restaurant 1
.col-md-offset-6.column
    h3#nameDiv(style='display: none;')
    #menuItemsrest1.menu()
        ul#checkboxes.list-group.list-unstyled
            if d.name == name
        each i in d.items
            li= i.itemName
    each d in data
        each i in d.items
            li= i.itemName
        //
          <div class="row"><span class="badge pull-right" style="">Extras: <input type="text" id="extras" name="extras" /></span></div>
        div
            button#submitButton.btn.btn-primary.pull-right Submit
    //
       End restaurant 1