    | Hours:
    input(type='number', name='timerHour', min='0', max='23')
        | Minutes:
        input(type='number', name='timerMin', min='0', max='59')
        button(type='button', name='startTimer') Start Timer