// this nav bar should be on all pages. The buttons will change depending on the peremissions of the user.
nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
    div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='#') Foody
    button.btn.btn-success.navbar-right(type='submit') Sign Out
    p.navbar-text.navbar-right
        | Hi&nbsp
        span#userName UserName
        | ! What are we having today?